<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container px-4 px-lg-5">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="LOGO" href=""><img src="./../../../assets/logo_sin_fondo.png" alt="logo" width="250px"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Incio</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Nosotros</a></li>
            </ul>
            <ul class="navbar-nav nav-icons">
                <li class="nav-item"><a class="nav-link" href="#!"><i class="fas fa-shopping-cart" style="font-size: 20px;"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="/login"><i class="fas fa-user" style="font-size: 20px;"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="#!"><i class="fas fa-sign-out-alt" style="font-size: 20px;"></i></a></li>
            </ul>
        </div>
    </div>
</nav>